@font-face {
	font-family: 'FrizQuadrata';
	src: url('fonts/FrizQuadrataTT.eot');
	src: local('☺'), url('fonts/FrizQuadrataTT.woff') format('woff'), url('fonts/FrizQuadrataTT.ttf') format('truetype'), url('fonts/FrizQuadrataTT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*@media (max-width: 1500px) {*/
    /*#orderform {*/
        /*margin: 0 10px;*/
    /*}*/
/*}*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron {
    background-size: auto 100%;
    background-color: rgb(249, 159, 201);
    text-align: center;

}

.jumbotron .container {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.jumbotron h1{
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    font-family: 'FrizQuadrata', arial
}

.jumbotron h2 {
    color: rgb(171, 35, 40);
    text-align: center;
    font-size: 18px;
}

.jumbotron p{
    max-width: 600px;
    color: rgb(171, 35, 40);
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto;
}

.jumbotron img{
    flex: 1;
}

.vertically-stacked {
    flex: 2;
    vertical-align: middle;
    text-align: center;
}

.vertically-stacked > * {
    margin-bottom: 25px;
}


textarea {
    resize: none;
}
